@{
    ViewData["Title"] = "Email Falhou";
}
<div class="alert alert-danger" role="alert">
    <h2>Sua solicitação falhou, tente novamente ...</h2>
</div>
<br />
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Home")'">Voltar a tela Inicial</button>