@{
    ViewData["Title"] = "Email Enviado";
}
<div class="alert alert-success" role="alert">
    <h2>Sua solicitação foi enviada com sucesso...</h2>
</div>
<br />
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Home")'">Voltar a tela Inicial</button>
@*<img src="~/images/soalegria.gif" />*@