@model Controle_de_Estoque.Models.EmailModel
@{
    ViewData["Title"] = "EnviaEmail";
}
<h2>Enviar Solicitação</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnviaEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Destino" class="control-label"></label>
            <input asp-for="Destino" type="hidden" value="danilo@vornit.com.br" class="form-control" />
            <span asp-validation-for="Destino" class="text-danger"></span>
        </div>*@
            <input asp-for="Destino" type="hidden" value="danilo@vornit.com.br" class="form-control" />
            <input asp-for="Assunto" type="hidden" value="Controle de Estoque" class="form-control" />
            <div class="form-group">
                <h4>Item solicitado: @ViewBag.itemProd </h4>
            </div>
            <div class="form-group">
                <label asp-for="Solicitante" class="control-label"></label>
                <input asp-for="Solicitante" class="form-control" />
                <span asp-validation-for="Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <textarea asp-for="Mensagem" placeholder="Qual o motivo da solicitação?" class="form-control" rows="3" cols="60"></textarea>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar Solicitação" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>